body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
      font-size: 3em;
}

profile{

    margin: auto;
    padding: 20px;
    font-size: 3em;
    width: 50%;             
    background-color: #e9f0f7; 
    border: 2px solid #ccc;
    border-radius: 10px;   
    text-align: center;  


}

profileImg{
     width: 150px;
    height: 150px;
    border-radius: 50%;     
    margin-bottom: 15px;


}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.5em;
}
